* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100%;
  background-color: yellowgreen;
}
.section-1{
    background-color: yellowgreen;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/guilty-gear-sol.jpg");
  background-size: cover;
}
.parte-central div h1{
  justify-self: center;
  background-color: white;
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
}
.presentacion{
  background-color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.sobre-mi{
  justify-self: center;
}
.parte-sobre-mi div{
  background-color: aqua;
  justify-self: center;
}