* {
  margin: 0;
  padding: 0;
}
h1, h2 , h3 ,h4 ,h5 ,h6, p{
  font-family: "Press Start 2p";
}
body{
  background-image: url(./assets/images/gameboy-advance.png);
  height: 100vh;
  padding: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 25rem;
  padding-right: 25rem;
}
body h1{
  color: white;
}
.parte-central div h1{
  justify-self: center;
  background-color: white;
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
}
.presentacion{
  background-color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.sobre-mi{
  justify-self: center;
}
.parte-sobre-mi div{
  background-color: aqua;
  justify-self: center;
}
.parte-contactos{
  background-color: aqua;
  position: center;
}